@font-face {
  font-family: Coke;
  src: url('font/Coca-ColaCareFontKaiTi.woff2') format('woff2');
  font-display: swap;
}

.x-link {
  text-decoration: none;
  color: #333;
  float: right;
}

.x-link:hover {
  color: #ea4c89;
}

[v-cloak] {
  display: none;
}

html {
  font-size: 20px;
}

.item-content {
  white-space: pre-wrap;
}

body,
button {
  font-family: Coke, serif;
}

.describe {
  font-weight: 300;
  font-style: normal;
  line-height: 1.8rem;
}

#app,
header,
footer {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-weight: 900;
}

footer {
  font-size: 0.8rem;
  clear: both;
}

.item {
  font-weight: 300;
  font-style: normal;
  line-height: 1.8rem;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  margin-top: 20px;
  text-align: justify;
  box-shadow: 0em 4em 6em -2em rgba(0, 0, 0, 0.5), 1em 2em 3.5em -2.5em rgba(0, 0, 0, 0.5);
}

.item a {
  text-decoration: none;
  color: #5dafd5;
}

.item-number {
  padding: 3px 5px;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.item-time {
  font-weight: 200;
  color: #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center-text {
  text-align: center;
}

.center-text a {
  color: #ea4c89;
  text-decoration: none;
}

.load-ctn {
  width: 100%;
}

.load-btn {
  border: 2px solid #666;
  width: 130px;
  outline: none;
  font-size: 20px;
  border-radius: 100px;
  margin: 30px auto;
  color: #666;
  line-height: 30px;
  float: right;
  background: #fff;
}

.load-btn:hover {
  cursor: pointer;
  background: #1da1f2;
  color: #fff;
}

.load-btn:hover:active {
  background: #666;
  color: #fff;
}

.equipment::after {
  font-size: 15px;
}

.type-0 .item-number {
  color: #fff;
  background-color: #2196f3;
}

.type-0 .equipment::after {
  content: 'PC💻';
}

.type-1 .item-number {
  color: #fff;
  background-color: #ff4081;
}

.type-1 .equipment::after {
  content: 'iPhone XR📱';
}

.type-2 .item-number {
  color: #7c7777;
  background-color: #94ce5a;
}

.type-2 .equipment::after {
  content: 'MacBook💻';
}

.type-3 .item-number {
  color: #7c7777;
  background-color: #bddd22;
}

.type-3 .equipment::after {
  content: 'iPhone 13 mini📱';
}

.title {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-display: auto;
  height: 57.6px;
}

.item-tag {
  font-size: 15px;
  display: block;
  color: #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  width: 100%;
}

.item-translate-btn:hover {
  cursor: pointer;
}

.item-translated-content {
  border-left: 2px solid #d4237a;
  padding-left: 10px;
  margin-top: 10px;
  font-style: italic;
  color: #666;
}

.item-content.blur,
.item-translated-content.blur {
  filter: blur(8px);
  transition: filter 0.3s ease-in-out;
}

.tag {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #555;
}

.tag:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
  border-color: rgba(0, 0, 0, 0.2);
}

/* Toggle Icon and Tags Container Base Styles */
#tags-toggle-icon {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 1001;
}

#tags-toggle-icon svg {
  transition: transform 0.3s ease-in-out;
}

#tags-toggle-icon.is-active svg {
  transform: rotate(90deg);
}

#tags-container {
  display: none;
}

#tags-container.tags-visible {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

#tags-container.tags-visible .tags-content-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  overflow-y: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

#tags-container.tags-visible .tag {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 5px;
  padding: 8px 15px;
  font-size: 1em;
}

#tags-container.tags-visible .tag:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* Styles for mobile devices */
@media (max-width: 768px) {
  #app {
    padding: 0 15px;
  }

  #tags-container.tags-visible {
    align-items: flex-start;
  }

  #tags-container.tags-visible .tags-content-wrapper {
    padding: 10px 20px;
    width: 85%;
    margin: 10px auto 0 auto;
  }

  .item-info {
    font-size: 0.8em;
  }
}

/* Styles for desktop devices */
@media (min-width: 769px) {
  #tags-container.tags-visible {
    align-items: center;
    justify-content: center;
  }

  #tags-container.tags-visible .tags-content-wrapper {
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

@media (prefers-color-scheme: dark) and (min-width: 769px) {
  #tags-container.tags-visible .tags-content-wrapper {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #fff;
  }

  .item {
    background-color: #15202b;
    color: #ccc;
  }

  .item-time {
    color: #999;
    display: inline-block;
  }

  h1 {
    color: #fff;
    display: inline;
  }

  .describe {
    color: #ccc;
  }

  .load-btn {
    background-color: #000;
    color: #ddd;
  }

  .x-link {
    color: #ccc;
  }

  .tag {
    background-color: transparent;
    color: #999;
    border: 1px solid #999;
  }

  .tag:hover {
    background-color: #253341;
    color: #ccc;
    border-color: #253341;
  }

  #tags-toggle-icon svg {
    stroke: #fff;
  }

  .item-translated-content {
    color: #ccc;
    border-left-color: #d4237a;
  }
}

.toast-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -20px);
  background-color: rgba(17, 165, 206, 0.7);
  color: #fff;
  backdrop-filter: blur(5px);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s;
}

.toast-container.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}
