@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: #d97757;
  /* Terracotta */
  --color-secondary: #3f6212;
  /* Deep Olive */
  --color-border: #e5e5e0;
}

:root {
  --background: #fdfcf8;
  --foreground: #191919;
  --card: #ffffff;
}

.dark {
  --background: #121212;
  --foreground: #e5e5e5;
  --card: #1e1e1e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Times New Roman', 'Georgia', serif;
  /* 默认：人文衬线体 */
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.font-sans {
  font-family: 'Inter', system-ui, sans-serif;
  /* 无衬线体 */
}